
.ma-home-banner {
    position: fixed;
    height: 1.8rem;
    width: 100%;
    left: 0;
    top: 0;
    color: white;
    background: rgb(124,185,241);
    background: radial-gradient(circle, rgba(124,185,241,1) 0%, rgba(148,150,233,1) 100%);
  }
  
  .ma-logo{
    height: 2rem;
    margin-left: 2rem;
  }
  
  .ma-header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    left: 0;
    top: 1.8rem;
    background: white;
  }
  
  #nav > ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #nav > ul > li > a {
    display: block;
    height: auto;
    font-size: 16px;
    color: black;
    padding: 5px;
    margin-left: 2rem;
    text-decoration: none;
    transition: underline-offset 0.15s ease-in-out, text-decoration 0.15s ease-in-out;
  }
  
  #nav > ul > li > a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    color: rgb(30, 105, 161);
  }
  
  
  .ma-container {
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    margin-bottom: 3rem;
    align-items: center;
  
  }
  
  .ma-container-backlog {
    display: flex;
    flex-direction: column;
    margin-top: 9rem;
    align-items: center;
    margin-bottom: 3rem;
  
  }

  .ma-card {
    border: 1px solid #84aee4;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(16, 6, 125, 0.1);
    padding: 20px;
    background: white;
    text-align: center;
    display: table;
    margin-top: 4rem;
    width: 50rem;
  }
  
  
  .ma-card h3 {
    margin-bottom: 10px;
  }
  
  .ma-card ul {
    list-style-type: none;
    padding: 0;
  }
  
  .ma-card ul li {
    margin-bottom: 5px;
  }
  
  .ma-image-card {
    padding-right: 6rem;
    padding-left: 6rem;
    display: flex;
    align-items: center;
    flex-direction: row;}
  
  
  html{
    background: radial-gradient(circle, rgba(124,185,241,1) 0%, rgba(148,150,233,1) 100%);
  }
  
  .ma-page{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgba(124,185,241,1) 0%, rgba(148,150,233,1) 100%);
  }

  .table {
    width: 90%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px 18px; 
    text-align: center;
    
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .sprint-row{
    background-color: #f0f8ff;
  color: black;
  }
  .task-row{
    background-color:#cce6ff;
;  }



  .ma-proposal-link{
    background: rgb(93,224,230);
    background: linear-gradient(90deg, rgba(93,224,230,1) 0%, rgb(51, 121, 213) 100%);
    border-radius: 100px;
    box-shadow: 0 2px 4px rgba(16, 6, 125, 0.1);
    padding: 20px;
    margin: 30px;
    text-align: center;
    color: #000f2e;
    cursor: pointer;
    width: 200px;
    text-decoration: none;
  }

  .ma-proposal-link:hover{
    box-shadow: rgba(150, 38, 156, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }

  .ma-tabs-list{
    margin-top: 7rem;
  }

  #tabs{margin:0px;padding:0px;list-style-type:none;}
  #tabs li a{
    background-color: #b8d1f1;
    border-radius: 30px; 
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; 
    border: none;
    color: black;
    text-decoration:none;
    padding-left:10px;
    padding-right:10px;
    line-height:50px;
    display:inline-block;
    margin-top: 20px;
    margin-right: 1rem; 
    float: left;   
    position: relative;
    left: 3rem;
  }
  #tabs li a:hover{border-top:3px solid #09F;color:#09F;background-color:#fff;}
  #tabs li:last-child a{border-right:none;}
  #tabs li a.currentTab {
    background-color: #09F; 
    color: #fff; 
}

  .text{
    display:none;
  }
  .currentText{display:block;
    display: flex;
    flex-direction: column;
    margin-top: 9rem;
    align-items: center;
  }

  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @-moz-keyframes fadein {
      from { opacity: 0; }
      to { opacity: 1; }
  }

  @keyframes fadein {
      from { opacity: 0; }
      to { opacity: 1; }
  }